*{
    margin: 0;
    padding: 0;
}
.macbook-air {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-air .element-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1280px;
    height: 832px;
  }
  
  .macbook-air .element {
    position: relative;
    width: 1440px;
    height: 1024px;
    top: -96px;
    left: -80px;
    background-color: #ffffff;
  }
  
  .macbook-air .text-wrapper {
    position: absolute;
    width: 269px;
    top: 205px;
    left: 764px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #03014c;
    font-size: 35.1px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap {
    position: absolute;
    width: 491px;
    height: 76px;
    top: 553px;
    left: 764px;
    background-color: #f6f6f6;
    border-radius: 8.77px;
  }
  
  .macbook-air .div {
    position: absolute;
    width: 74px;
    top: 26px;
    left: 93px;
    opacity: 0.5;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #03014c;
    font-size: 15.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .vector {
    position: absolute;
    width: 17px;
    height: 21px;
    top: 24px;
    left: 42px;
  }
  
  .macbook-air .overlap-group {
    position: absolute;
    width: 491px;
    height: 76px;
    top: 657px;
    left: 764px;
    background-color: #3048c1;
    border-radius: 8.77px;
  }
  
  .macbook-air .text-wrapper-2 {
    position: absolute;
    width: 117px;
    top: 26px;
    left: 188px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-2 {
    position: absolute;
    width: 491px;
    height: 76px;
    top: 452px;
    left: 764px;
    background-color: #f6f6f6;
    border-radius: 8.77px;
  }
  
  .macbook-air .text-wrapper-3 {
    position: absolute;
    width: 42px;
    top: 26px;
    left: 93px;
    opacity: 0.5;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #03014c;
    font-size: 15.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .group {
    position: absolute;
    width: 18px;
    height: 19px;
    top: 25px;
    left: 40px;
  }
  
  .macbook-air .overlap-3 {
    position: absolute;
    width: 491px;
    height: 76px;
    top: 350px;
    left: 764px;
    background-color: #f6f6f6;
    border-radius: 8.77px;
  }
  
  .macbook-air .text-wrapper-4 {
    position: absolute;
    width: 79px;
    top: 26px;
    left: 93px;
    opacity: 0.5;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #03014c;
    font-size: 15.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .img {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 26px;
    left: 40px;
  }
  
  .macbook-air .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9.65px;
    position: absolute;
    width: 437px;
    height: 48px;
    top: 272px;
    left: 764px;
  }
  
  .macbook-air .text {
    position: relative;
    align-self: stretch;
    opacity: 0.5;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #03014c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .span {
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #03014c;
    font-size: 14px;
    letter-spacing: 0;
  }
  
  .macbook-air .google {
    position: absolute;
    width: 234px;
    height: 66px;
    top: 767px;
    left: 770px;
    transform: rotate(0.15deg);
  }
  
  .macbook-air .overlap-group-2 {
    position: relative;
    width: 232px;
    height: 66px;
    border-radius: 8.77px;
    border: 0.88px solid;
    border-color: #03014c4c;
  }
  
  .macbook-air .image-wrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 22px;
    left: 75px;
  }
  
  .macbook-air .image {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    transform: rotate(-0.15deg);
    object-fit: cover;
  }
  
  .macbook-air .text-wrapper-5 {
    position: absolute;
    width: 49px;
    top: 23px;
    left: 108px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #03014c;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: normal;
  }
  
  .macbook-air .facebook {
    position: absolute;
    width: 234px;
    height: 66px;
    top: 767px;
    left: 1023px;
    transform: rotate(0.15deg);
  }
  
  .macbook-air .text-wrapper-6 {
    position: absolute;
    width: 67px;
    top: 23px;
    left: 103px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #03014c;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: normal;
  }
  
  .macbook-air .vector-2 {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 18px;
    left: 61px;
    transform: rotate(-0.15deg);
  }
  
  .macbook-air .do-you-have-account {
    position: absolute;
    top: 58px;
    left: 1051px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .text-wrapper-7 {
    color: #03014c;
  }
  
  .macbook-air .text-wrapper-8 {
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #3048c1;
  }
  
  .macbook-air .img-here {
    width: 655px;
    height: 1024px;
  }
  
  .macbook-air .rectangle {
    position: fixed;
  width: 575px;
  height: 832px;
  top: 0;
  left: 0;
  object-fit: cover;
  }
  