nav{
    background-color:#F9EFDB;
    color: white;
    padding: 15px 10px 15px 10px;

}
.navtop{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
#logo{
    height: 70px;
    border-radius: 50px;

    
}
.search{
    
    display: flex;
    justify-content:space-between ;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    background-color:#EBD9B4;

}
.searchbox{
    background-color:#EBD9B4;
    border: none;
   
}
#searchicon{
    mix-blend-mode: color-burn;
   
}
.right{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
   
}
#cart{
    padding-right:50px;

}

.buy-sell{
   
    height:400px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

     
    
   
}
.home{
    background-image: url("output-onlinepngtools.png");
}
.buy{
    padding: 50px;
    background-color: #638889;
    border-radius: 10px;

}

.sell{
    padding: 50px;
    background-color:#9DBC98;
    border-radius: 10px;

}
.or{
    border-radius: 50px;
    background-color: grey
}
.footer{
    display:flex;
    justify-content:center;
    justify-content: space-evenly;
    background-color: #F9EFDB;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.list{
    font-weight: bold;
    color: grey;
    
}
.buyorsell{
    background-color:#FFE382;
    margin: auto;
    padding: 10px 10px 10px 20px;
    border-color: bisque;
    
    border-radius: 10px;
}
#heading{
     
   
}


